workflows
[{"updatedAt":"2026-05-10T16:28:45.805Z","createdAt":"2025-10-07T13:48:53.620Z","id":"PJmtnwvBNkBaOvQp","name":"UPTIME SERVER","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"9c0ddf6a-9972-4089-86bf-57b95ee58294","name":"Schedule Trigger"},{"parameters":{"command":"if [ -f /tmp/server_status.json ]; \nthen cat /tmp/server_status.json; \nelse echo '{\"status\":\"DOWN\", \"numberFailed\":0}' > /tmp/server_status.json && cat /tmp/server_status.json;\nfi "},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[224,0],"id":"e6eed160-42b6-492d-9b7c-04c4b2b79786","name":"Execute Command"},{"parameters":{"assignments":{"assignments":[{"id":"a7bddc8e-5130-4133-9d8b-6c48d0fb7b62","name":"status","value":"={{ $json.stdout.parseJson().status }}","type":"string"},{"id":"6bd907c3-4e30-4c27-b718-2e62ea34c63a","name":"numberFailed","value":"={{ $json.stdout.parseJson().numberFailed }}","type":"number"},{"id":"005bdf30-2818-43d7-8c91-c41a1f20b076","name":"","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[432,0],"id":"20cf7b2f-2373-4e7b-bf42-4b5cf805e78b","name":"Edit Fields"},{"parameters":{"url":"https://webhook.site/85bcf5f2-0c22-417f-b001-e88d888dfa3c","options":{"timeout":5000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[640,0],"id":"4f627ac5-2ca5-4444-b014-2d0a385dcfd4","name":"HTTP Request","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f85e40cb-f063-4127-b655-12f0f40907fe","leftValue":"={{ $json.success }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"8dad3e25-1c7d-4727-9f24-4e5b54fd61c0","leftValue":"={{ $json.message }}","rightValue":"Healthy","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[848,0],"id":"2c1778b0-1bcc-47a6-8e00-6353ed3de7a8","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"11a7a293-6d20-451c-a126-67360d9b7191","leftValue":"={{ $('Edit Fields').item.json.status }}","rightValue":"UP","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1152,-240],"id":"648860a1-f648-47bd-9493-9e4bea2ff113","name":"If1"},{"parameters":{"command":"echo '{\"status\":\"UP\", \"numberFailed\":0}' > /tmp/server_status.json"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1456,-224],"id":"c615b945-8186-4709-85bb-9db7bcd20d14","name":"Execute Command1"},{"parameters":{"chatId":"5518847184","text":"=✅ Your server is BACK UP!\n🔗 URL: https://webhook.site/85bcf5f2-0c22-417f-b001-e88d888dfa3c\n🕒 Time: {{ $('Schedule Trigger').item.json['Readable time'] }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1808,-352],"id":"fa5ad884-2f99-456e-b31d-bd379881cc5c","name":"Send a text message","webhookId":"8d49dbe3-11d5-4d4e-a43d-b975ff4679c2","credentials":{"telegramApi":{"id":"rSlLJFedywsMd8PM","name":"Telegram account"}}},{"parameters":{"sendTo":"ryan13briz@gmail.com","subject":"YOUR SERVER IS BACKUP","message":"=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"/>\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      background-color: #f9f9f9;\n      margin: 0;\n      padding: 0;\n    }\n    .container {\n      background-color: #ffffff;\n      max-width: 600px;\n      margin: 30px auto;\n      border-radius: 8px;\n      box-shadow: 0 0 10px rgba(0,0,0,0.1);\n      overflow: hidden;\n    }\n    .header {\n      background-color: #52c41a;\n      color: #ffffff;\n      text-align: center;\n      padding: 20px;\n    }\n    .header h1 {\n      margin: 0;\n      font-size: 22px;\n    }\n    .content {\n      padding: 30px;\n      color: #333333;\n    }\n    .content h2 {\n      color: #52c41a;\n    }\n    .footer {\n      background-color: #f1f1f1;\n      text-align: center;\n      padding: 15px;\n      font-size: 12px;\n      color: #999999;\n    }\n    .alert-icon {\n      font-size: 40px;\n      color: #52c41a;\n      margin-bottom: 20px;\n    }\n    @media only screen and (max-width: 600px) {\n      .content {\n        padding: 20px;\n      }\n    }\n  </style>\n</head>\n<body>\n\n<div class=\"container\">\n  <div class=\"header\">\n    <h1>✅ Server is Back Online</h1>\n  </div>\n  <div class=\"content\">\n    <div class=\"alert-icon\">🟢</div>\n    <h2>Good news! Your server is reachable again.</h2>\n    <p><strong>Server:</strong> https://magiclogon.xyz</p>\n    <p><strong>Time:</strong> {{ $('Schedule Trigger').item.json['Readable time'] }}</p>\n    <p>The monitoring system was able to reach your server again. Everything seems to be working correctly now.</p>\n  </div>\n  <div class=\"footer\">\n    This is an automated message from your monitoring system.\n  </div>\n</div>\n\n</body>\n</html>","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1808,-128],"id":"346a6701-7711-43b5-b2a2-8026156fbe90","name":"Send a message","webhookId":"060ec59c-41aa-441a-9079-ed6b1968814f","credentials":{"gmailOAuth2":{"id":"PeydOp6nKGAtzIpP","name":"Gmail account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dc9d5846-9988-41ab-8654-405cd7122654","leftValue":"={{ $('Edit Fields').item.json.status }}","rightValue":"DOWN","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"aa6b3d13-e52b-4865-a5fa-3590b4c6471f","leftValue":"={{ $('Edit Fields').item.json.numberFailed }}","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1136,96],"id":"d6bf7e98-9afa-4c4e-ac92-46ee481f004b","name":"If2"},{"parameters":{"command":"=echo '{\"status\":\"DOWN\", \"numberFailed\":{{ $('Edit Fields').item.json.numberFailed + 1 }}}' > /tmp/server_status.json"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1456,144],"id":"91922faf-e760-44c7-a5d9-d7060524db5f","name":"Execute Command2"},{"parameters":{"command":"echo '{\"status\":\"DOWN\", \"numberFailed\":0}' > /tmp/server_status.json"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1456,352],"id":"1829e917-fed3-4854-934f-b899436637a2","name":"Execute Command3"},{"parameters":{"chatId":"5518847184","text":"=🚨 Your server is DOWN!\n❌ URL: https://magiclogon.xyz\n🕒 Time: {{ $('Schedule Trigger').item.json['Readable time'] }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1792,240],"id":"ed808d70-19b2-4dad-9f65-cfc165e6c664","name":"Send a text message1","webhookId":"8d49dbe3-11d5-4d4e-a43d-b975ff4679c2","credentials":{"telegramApi":{"id":"rSlLJFedywsMd8PM","name":"Telegram account"}}},{"parameters":{"sendTo":"ryan13briz@gmail.com","subject":"YOUR SERVER IS DOWN","message":"=<!DOCTYPE html>\n<html>\n  <head>\n    <meta charset=\"UTF-8\" />\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n    <style>\n      body {\n        font-family: Arial, sans-serif;\n        background-color: #f9f9f9;\n        margin: 0;\n        padding: 0;\n      }\n\n      .container {\n        background-color: #ffffff;\n        max-width: 600px;\n        margin: 30px auto;\n        border-radius: 8px;\n        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);\n        overflow: hidden;\n      }\n\n      .header {\n        background-color: #ff4d4f;\n        color: #ffffff;\n        text-align: center;\n        padding: 20px;\n      }\n\n      .header h1 {\n        margin: 0;\n        font-size: 22px;\n      }\n\n      .content {\n        padding: 30px;\n        color: #333333;\n      }\n\n      .content h2 {\n        color: #ff4d4f;\n      }\n\n      .footer {\n        background-color: #f1f1f1;\n        text-align: center;\n        padding: 15px;\n        font-size: 12px;\n        color: #999999;\n      }\n\n      .alert-icon {\n        font-size: 40px;\n        color: #ff4d4f;\n        margin-bottom: 20px;\n      }\n\n      @media only screen and (max-width: 600px) {\n        .content {\n          padding: 20px;\n        }\n      }\n    </style>\n  </head>\n  <body>\n    <div class=\"container\">\n      <div class=\"header\">\n        <h1>🚨 Server Down Alert</h1>\n      </div>\n      <div class=\"content\">\n        <div class=\"alert-icon\">⚠️</div>\n        <h2>Oops! Your server is unreachable.</h2>\n        <p>\n          <strong>Server:</strong> https://magiclogon.xyz\n        </p>\n        <p>\n          <strong>Time:</strong> {{ $('Schedule Trigger').item.json['Readable time'] }}\n        </p>\n        <p>Unable to reach your server. Please check your hosting environment or services and ensure everything is functioning correctly.</p>\n      </div>\n      <div class=\"footer\"> This is an automated message from your monitoring system. </div>\n    </div>\n  </body>\n</html>","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1792,464],"id":"fd2bac85-40fa-4396-b65f-091c79882854","name":"Send a message1","webhookId":"060ec59c-41aa-441a-9079-ed6b1968814f","credentials":{"gmailOAuth2":{"id":"PeydOp6nKGAtzIpP","name":"Gmail account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Execute Command","type":"main","index":0}]]},"Execute Command":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"If1","type":"main","index":0}],[{"node":"If2","type":"main","index":0}]]},"If1":{"main":[[],[{"node":"Execute Command1","type":"main","index":0}]]},"Execute Command1":{"main":[[{"node":"Send a text message","type":"main","index":0},{"node":"Send a message","type":"main","index":0}]]},"If2":{"main":[[{"node":"Execute Command2","type":"main","index":0}],[{"node":"Execute Command3","type":"main","index":0}]]},"Execute Command3":{"main":[[{"node":"Send a text message1","type":"main","index":0},{"node":"Send a message1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bb41a081-0b80-49a9-9b9e-6a84f6c12e7d","activeVersionId":null,"versionCounter":3,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-10-07T13:48:53.656Z","createdAt":"2025-10-07T13:48:53.656Z","role":"workflow:owner","workflowId":"PJmtnwvBNkBaOvQp","projectId":"ZWaDZVjiWM3InZqM","project":{"updatedAt":"2026-05-10T16:10:25.364Z","createdAt":"2025-10-07T11:32:36.864Z","id":"ZWaDZVjiWM3InZqM","name":"Rye Ryan <ryan13briz@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"10c98703-c928-4735-857d-d1787cb6e293"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2025-10-08T11:18:42.000Z","createdAt":"2025-10-08T08:12:38.212Z","id":"8HKKySGhxeLvzszV","name":"When ChatGPT Talks to Our Database — Powered by n8n","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"content":"When ChatGPT Talks to Our Database — Powered by n8n","height":505,"width":677,"color":7},"id":"d28b41d3-b64f-4c77-9ff3-73ca7a550b5f","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-208,48],"typeVersion":1},{"parameters":{"options":{}},"id":"f2cee5a2-4fcc-40f0-a1bf-82bbc9d7a16c","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[-144,160],"webhookId":"1c0d08f0-abd0-4bdc-beef-370c27aae1a0","typeVersion":1.1},{"parameters":{"operation":"executeQuery","query":"{{ $fromAI('sql_statement') }}","options":{}},"id":"6354dd2b-225f-4a08-b733-8fa98097fe64","name":"Postgres","type":"n8n-nodes-base.postgresTool","position":[320,368],"typeVersion":2.5,"credentials":{"postgres":{"id":"aX4L0FITxIjdy7nu","name":"Postgres account"}}},{"parameters":{},"id":"4198fe73-99df-45b5-bce6-8d7ae6edc482","name":"Simple Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[176,368],"typeVersion":1.3},{"parameters":{"options":{}},"id":"f9be0e96-cff7-438b-9bb8-adbe52f23cb4","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[80,160],"typeVersion":1.8},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"id":"13b0f080-a087-4ed8-8c6f-9e3258badb44","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[16,368],"typeVersion":1.2,"credentials":{"openAiApi":{"id":"YGkR4tyXrxxKxgip","name":"OpenAi account"}}}],"connections":{"Postgres":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7528985d-cd4f-4e12-8582-bfdf81965795","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-10-08T08:12:38.229Z","createdAt":"2025-10-08T08:12:38.229Z","role":"workflow:owner","workflowId":"8HKKySGhxeLvzszV","projectId":"ZWaDZVjiWM3InZqM","project":{"updatedAt":"2026-05-10T16:10:25.364Z","createdAt":"2025-10-07T11:32:36.864Z","id":"ZWaDZVjiWM3InZqM","name":"Rye Ryan <ryan13briz@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"10c98703-c928-4735-857d-d1787cb6e293"}}],"versionMetadata":{"name":null,"description":null}}]